*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: #f2f9fd;
    display: flex;
    justify-content: center;
    padding-top: 12vh;
}
.container{
    background-color: rgb(177, 177, 177);
    width: 21vw;
    height: 60vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.screen{
    width: 80%;
    min-height: 44px;
    background-color: white;
    border-radius: 6px;
    border: #5f8394 solid 1px;
    color: #9b9b9b;
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 4%;
}

.operations{
    max-width: 100%;
    padding: 5%;
    border-radius: 40px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.operStyle{
    width: 56px;
    height: 56px;
    margin-right: 18px;
    margin-bottom: 18px;
    border-radius: 12px;
    background-color: #909097;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.operStyle:active{
    background-color: rgb(231, 230, 230);
}

.numbers{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
}
.numStyle{
    width: 25%;
    height: 30%;
    margin-right: 18px;
    margin-bottom: 18px;
    border-radius: 12px;
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;

}
.numStyle:active{
    background: #ffffff;
}


#clearBtn{
    border: none;
    background-color: #868585;
    color: white;
    font-weight: bold;
}

#clearBtn:active{
    background-color: rgb(240, 196, 196);
}

#equalBtn{
    border: none;
    background-color: rgb(160, 80, 48);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}


@media screen and (max-width: 1500px) {
    .body{
        background-color: #f2f9fd;
    }
    .container{
        width: 24vw;
        height: 55vh;
    }
 
}

@media screen and (max-width: 1200px) {
    .body{
        background-color: #f2f9fd;
    }
    .container{
        width: 32vw;
        height: 56vh;
    }
 
}

@media screen and (max-width: 1024px) {
    .body{
        background-color: #f2f9fd;
    }
    .container{
        width: 40vw;
        height: 58vh;
    }
 
}

@media only screen and (max-width: 768px) {
    .body{
        background-color: #f2f9fd;
        display: flex;
        justify-content: center;
        padding-top: 12vh;
    }
    .container{
        background-color: rgb(177, 177, 177);
        width: 50vw;
        height: 57vh;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .body{
        background-color: #f2f9fd;
        display: flex;
        justify-content: center;
        padding-top: 12vh;
    }
    .container{
        background-color: rgb(177, 177, 177);
        width: 350px;
        height: 55vh;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
}




